<!doctype html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title><%= title %> | Datar</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style></style>
    <!-- Custom styles for this template -->
    <link href="/css/loginSignup.css" rel="stylesheet">
    <style>
    body {
      /* background-color: #f5f5f5; */
      background-color: #efefef;
    }

    .container {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .right-sub-item {
      padding-left: 20px !important;
      border-left: 2px solid #dfdfdf;
    }

    .left-sub-item {
      padding-right: 20px !important;
    }

    .nav-item {
      padding-left: 10px;
      padding-right: 10px;
    }

    .btn-info {
      color: #000;
      background-color: #e7e7e7;
      border-color: #e7e7e7;
    }

    .btn-info:hover {
      color: #000;
      background-color: #c4c4c4;
      border-color: #c4c4c4;
    }

    .btn-danger {
      background-color: rgba(208, 10, 22, 0.72);
      border-color: rgba(208, 10, 22, 0.72);
    }

    .btn-outline-danger {
      color: rgba(208, 10, 22, 0.72);
      border-color: rgba(208, 10, 22, 0.72);
    }

    .badge-danger {
      background-color: rgba(208, 10, 22, 0.72);
    }

    .key-title {
      font-size: 0.8rem;
    }

    nav.pagination {
      justify-content: center!important;
    }

    nav.pagination .active {
      background-color: #0056b3;
      color: #fff;
    }

    </style>
  </head>
  <body>
